img {
  
  display: block;
  margin: 0 auto;
  max-width: 100%;

}

#search-criteria {

  margin-left: 38.33333%;

}

#no-result-message {

  margin-left: -22px

}

#skill_label {

  text-decoration: none
  
}
#log-color{
  background-color: white; 
}

.center {
  text-align: center;
}

.hands {
  float: left;
}

.moveright {

  margin-left: 25px;

}

#dropme {

  margin-top: 26px;

}

.moveleft {

  margin-right :44px;

}

.navbar {
    background-color: #6600CC;
  }

#purplelogin {
  background-color: #6600CC;
}

#bulb {
    color: yellow;
  }
.nobullets{
  list-style-type: none;
}
  #nav-title {
    color: yellow;
  }