img {
  
  display: block;
  margin: 0 auto;
  max-width: 100%;

}

.credential_form {

  margin-left: 45em;
}

#no-result-message {

  margin-left: -22px

}

#search-criteria {

  margin-left: -1.66667%;

}

#skill_label {

  text-decoration: none
  
}

#navbar_button:hover {
  color: #FF994As;  
}

#homepage_button {
  background-color: #FF994A;
  border-color: #FF994A;
  color: #FFF;
  text-decoration: none;

}

#homepage_button:hover {
  color: #225378;  
}

#body {

   /*background-color: #white; */

}

#user {

  background-color: #225378;

  border-color: #225378;

}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

header {
  text-align: center;
  color: #fff;
  background: #18bc9c;
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(24,188,156,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#user-image {

  image-res

}