<div class="container" align="centre">
  <form role="search" method="get">
    <div class="form-group">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
        <input type="text" class="form-control" name="query" placeholder="Enter a skill" >
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </form>
</div>

<ul class="list-group">
  <% @users.each do |user| %>
    <% teach_skills = user.teachable_skills.map { |skill| skill.name } %>
    <% learn_skills = user.learnable_skills.map { |skill| skill.name } %>
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-11">
          <div class="">
            <p><strong>Username: </strong><a href="<%= user.id %>" target="_blank"><%= user.username %></a></p>
            <p><strong>Learnables: </strong><%= learn_skills.sort.join(", ") %></a></p>
            <p><strong>Teachables: </strong><%= teach_skills.sort.join(", ") %></a></p>
          </div>
        </div>
      </div>              
    </li>
  <% end %>
</ul>