<form role='search' method='get'>
  
  <div align='center'>
    
    <input type='text' name='query' placeholder='Enter a skill to learn' size='45'>
    <button type="button" class="btn btn-primary">Search</button>

  </div>

</form>