<div class="jumbotron">
  
  <h1><i class="fa fa-lightbulb-o fa-2x "></i>&nbsp;  Welcome to SkillSwapr!</h1>
  <p>
    You can register below and access all of the website.
  </p>
  <p>
    <a class="btn btn-success btn-lg" id="homepage_button" href="/users/new" role="button">Register!</a>

  </p>
</div>

<section id="why">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Why Join?</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">

                            </div>
                        </div>
                        <img src="pictures/characters1.svg" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                            </div>
                        </div>
                        <img src="pictures/code2.svg" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                            </div>
                        </div>
                        <img src="pictures/golf22.svg" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                            </div>
                        </div>
                        <img src="pictures/man204.svg" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                            </div>
                        </div>
                        <img src="pictures/professor14.svg" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                            </div>
                        </div>
                        <img src="pictures/science49.svg" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>