<div class="container">
    <div class="jumbotron">
      <h1>Welcome to SkillSwapr!</h1>
      <p>
        You sign up below and access all of the website.
      </p>
      <p>
        <a class="btn btn-primary btn-lg" href="/users/new" role="button">Register!</a>
      </p>
    </div>
</div>