<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/app_css.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>SkillSwapr</title>
</head>
<body id="body">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <i class="fa fa-lightbulb-o"></i>
          SkillSwapr
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <p class="navbar-text">
            Logged in as: <%= current_user.email %>
          </p>
          <li>
            <button type="button" class="btn btn-success navbar-btn" id="logout_login">
             <a href="/logout">
                Logout
              </a>
            </button>
          </li>
        <% else %>
          <li>
            <a id="navbar_button" href="/session/new" >
                Login
            </a>
          </li>  
        <% end %>
      </ul>    
    </div>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>